/* Global */
body {font-family:"Open Sans"; padding-left:15px;}
.p_text { width: 50%; font-size:12px;}
.p_quote {width:50%; font-size:14px; font-style: italic; color:gray;}
.p_citation { font-size:10px; margin-top: 0px;}

/*Table Styles*/
#slider label {
	position: absolute;
	width: 40px;
	font-size:10px;
	margin-left: -15px;
	text-align: center;
	margin-top: 20px;
}

#slider {
	width: 70%;
	margin: 2em auto;
}

#seasonYears { 
	width: 70%;
	margin:0 auto;
	padding:0;
}

.circles_text_table { font-size: 10px; fill:white; text-anchor:middle; alignment-baseline:auto;}

.span_emphasis {
	color:#215aac;
	font-weight: bold;
	font-size:20px;
}

.points_bar_table { fill:#e0e0e0;}
.points_text_table {font-size:10px; text-anchor:middle;}
.club_text_table {font-size:10px; text-anchor:start;}
.bar_table {fill:none;}

.win{fill:green;}
.draw{fill:#e0e0e0;}
.loss{fill:red;}

.win_text{font-size:9px;fill:white;}
.draw_text{font-size:9px;fill:black}
.loss_text{font-size:9px;fill:white;}

.season { cursor:pointer;}
.arrow_table_up {fill:green;}
.arrow_table_down {fill:red;}
.arrow_table_netural {fill:darkGray;}	

.season {
	height:30px;
	display: inline-block;
	padding:0;
	margin:0;	
}

.point_line { 
	stroke:rgb(255,0,0);
	stroke-width:2;
}	

/* Odds SVG Styles*/
line {stroke:black}
.container text {text-anchor: middle; alignment-baseline:middle;}
text.popup {font-size: 10; font-family: Arial}
.axis path {fill: none; stroke:black;stroke-width:1;}
.axis line {stroke:black;}
.axis text {font-size:.75em; fill:black}
path.plot {fill:none; stroke-width:2}
rect.popup {width: 170; height: 60; rx: 6; ry: 6; fill: lightBlue}
.odds_image { cursor:pointer;}
div.container {position: relative; width: 1700px;}
div.chart {position: absolute; top: -20px; left: 0px;}
div.in {position: absolute; right: 265px; font-size:12px; top: -80px}
div.label {font-size:16px; font-weight:normal; margin-bottom: 10px;
margin-top: 10px; }
div.legend {position:absolute; top: 50px;right:500px; }
p.cite {position: absolute; top: 450px; font-size:10px;}
select {
    border: 1px solid #111;
    background: transparent;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label {
		font-family: sans-serif;
		font-size: 12px;
	}
.title {
	font-family: sans-serif;
	font-size: 15px;
}
div.tooltip {   
		position: absolute;           
		text-align: left;           
		width: 165px;                  
		padding: 10px;             
		font-size: 10px;        
		background: lightblue;   
		border: 0px;      
		border-radius: 8px;           
		pointer-events: none;      
		z-index: 300;
}

/*Possession and Pass accuracy SVG Styles*/
.leicester_bar_possession,.leicester_bar_pass{ fill:#638bc4;}
.champions_bar_possession,.champions_bar_pass{fill:#215aac;}
.label_leicester_possession,.label_leicester_pass,.label_champions_possession,.label_champions_pass {fill:white; font-size:10px; text-anchor:middle;}


